@charset "UTF-8";



:root{
    --verde: #539987;
    --verde-forte: #004643;
    --rosa: #ff499e;
    --rosa-forte: #d81159;
    --vermelho: #BF211E;
    --vinho: #6B0F1A;
    --amarelo: #ffbc42;
    --dourado: #d1ac00;
    --azul: #0091ad;
    --azul-forte: #22577A;
    --branco: #e6e6e6;
    --roxo: #541388;
}

